.home {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.home__row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}
